[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
numpy = "*"
pandas = "*"
progressbar2 = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
keras-tuner = "*"
pylint = "*"
tensorboard = "*"
notebook = "*"
altair = "*"
vega-datasets = "*"
altair-data-server = "*"
lorentz = "*"
sympy = "*"
plotly = "*"
uproot = "*"

[requires]
python_version = "3.7"
